<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>一零跳动后台管理模版</title>
  <link rel="icon" href="../src/assets/fujian_art_exam_logo.png" type="image/x-icon">
</head>

<body>
  <div id="root"></div>
</body>

</html>
